$bg: #01121C;
$white: #fff;
$gold: #F2BA2E;
$primary: #00B9F2;
$inactive: #CCCFD1;
$green: #0DCF18;

.c-bg{
    color: $bg;
}
.c-white{
    color: $white;
}
.c-gold{
    color: $gold;
}
.c-primary{
    color: $primary;
} 
.c-inactive{
    color: $inactive;
}
.c-green{
    color: $green;
}